ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    
  }
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}
ul.breadcrumb li :active{
    font-weight: bold;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #d1d1d1;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #d1d1d1  ;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.pretitulo{
    font-size: 11px;
    color: #d1d1d1;
    margin-bottom: -5px;
    }

.precioreal{
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}
.precioreal::before,.preciomax::before{content: "$" ;}


.preciomax{
    color: #d1d1d1;
    text-decoration: line-through;
}
.descp{
    font-size: 12px;
    color:#d1d1d1;
    margin-top: 5px;
}
.boton{width: 100%;
    border-radius: 0 !important;
}

.quantity-toggle {
    display: flex;
    
    input {
      border: 0;
      border-top: $border;
      border-bottom: $border;
      width: 2.5rem;
      text-align: center;
      padding: 0 .5rem;
    }
}
input[type="text"] {
    width: 50px;
    text-align: center;
    border:none;
}
.selectores{margin-bottom: 15px;}
.menos, .mas{
    border: none;
    background-color: transparent;
}

.total{
    text-align: right;
}


.botonmod {
    font-size: 14px;
    line-height: 1.4;
    padding: 13px 20px;
    border-radius: 4px;
    transition: box-shadow 0.1s, top 0.1s;
    box-shadow: 0 3px 0 rgba(0,0,0,0.3);
    top: 0;
    background: #fff;
  }
  .botonmod:hover {
    box-shadow: 0 3px 0 transparent;
    top: 3px;
  }
  .botonmod:active {
    background: #f2f2f2;
  }
  
  /** Modal */
  .modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    display: block !important;
    height: auto !important;
  }
  .modal-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
  }
  
  /** Overlay */
  .overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /** JS */
  .is-visible {
    opacity: 1;
    pointer-events: auto;
  }
  