ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    
  }
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}
ul.breadcrumb li :active{
    font-weight: bold;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #d1d1d1;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #d1d1d1  ;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.pretitulo{
    font-size: 11px;
    color: #d1d1d1;
    margin-bottom: -5px;
    }

.precioreal{
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}
.precioreal::before,.preciomax::before{content: "$" ;}


.preciomax{
    color: #d1d1d1;
    text-decoration: line-through;
}
.descp{
    font-size: 12px;
    color:#d1d1d1;
    margin-top: 5px;
}
.boton{width: 100%;
    border-radius: 0 !important;
}

.quantity-toggle {
    display: flex;
    
    input {
      border: 0;
      border-top: $border;
      border-bottom: $border;
      width: 2.5rem;
      text-align: center;
      padding: 0 .5rem;
    }
}
input[type="text"] {
    width: 50px;
    text-align: center;
    border:none;
}
.selectores{margin-bottom: 15px;}
.menos, .mas{
    border: none;
    background-color: transparent;
}

.total{
    text-align: right;
}
  